$black: #000;
$gray-95: lighten($black, 95); // #f2f2f2
$gray-90: lighten($black, 90); // #e6e6e6
$gray-85: lighten($black, 85); // #d9d9d9
$gray-80: lighten($black, 80); // #d9d9d9
$gray-70: lighten($black, 70); // #b3b3b3
$gray-30: lighten($black, 30); // #4d4d4d
$white: #fff;
