@import '../styles/variables.scss';

.conversation {
	overflow-x: hidden;
	list-style: none;
	padding: 0;
	margin: 0;

	.col-xs-12 {
		padding-left: 0;
		padding-right: 0;
	}

	.header {
		color: $gray-30;
		font-size: 11pt;
		padding: 12px;
		border-bottom: 1px solid $gray-85;
	}

	.messages {
		background: $white;
		height: calc(100% - 45px - 58px);
		overflow-y: auto;
		list-style: none;
		padding: 0;
		margin: 0;

		&::after {
			clear: both;
		}

		.message {
			font-size: 12pt;
			padding: 0 10px;
			clear: both;

			.author {
				color: $gray-30;
				text-transform: uppercase;
				margin: 0 5px;
			}

			&.me {
				float: right;

				.message-wrapper {
					.message-contents {
						background: #28f;
						color: $white;
					}
				}
			}

			&.other {
				float: left;
			}

			.message-wrapper {

				.usernam-ab {
					background: $gray-70;
					color: $black;
				}
				.message-contents {
					background: $gray-90;
					color: $black;
					display: inline-block;
					border-radius: 19px;
					padding: 8px 12px;
					margin: 4px 0;
				}
			}
		}
	}

	.input-area {
		margin: 8px 14px;

		.message-input {
			padding: 10px 6px;
			font-size: 11pt;
			border: 1px solid $gray-85;
			border-radius: 4px;
			width: 100%;
		}
	}
}
