<div *ngIf="conversation" class="conversation">
	<div class="header">
		Conversation with <span class="username" *ngFor="let user of filterCurrentUser(conversation.getUsers())">{{user.getName()}}</span>
	</div>
	<ul class="messages">
		<li *ngFor="let message of conversation.getMessages()" class="message" [class.me]="isCurrentUser(message.getUser())"
			[class.other]="!isCurrentUser(message.getUser())">
					<div *ngIf="conversation.isGroupConversation() && !isCurrentUser(message.getUser())" class="author">{{message.getUser().getName()}}</div>
					<div class="message-wrapper">
						<!--<div *ngIf="conversation.isGroupConversation()" class="username-ab">{{abbreviateUsername(message.getUser())}}</div>-->
						<div class="">
							<span class="message-contents">{{ message.getMessage() }}</span>
						</div>
					</div>
		</li>
	</ul>

	<div class="input-area">
		<input class="message-input" type="text" [(ngModel)]="message" placeholder="Say something..." (keyup.enter)="sendMessage()"
		/>
	</div>
</div>