@import '../styles/variables.scss';

.registration-wrapper {
	height: 100%;
	display: table;
	margin: auto;

	.inputs {
		display: table-cell;
		vertical-align: middle;

		input {
			padding: 10px 6px;
			font-size: 11pt;
			border: 1px solid $gray-85;
			border-radius: 4px;
			width: 200px;
			margin-bottom: 10px;
		}
		.btn {
			width: 200px;
		}
	}
}