@import '../styles/variables.scss';

.header {
	height: 45px;
	padding: 4px 10px;

	a {
		width: 49%;
		
		&.start-btn {
			@include success();
		}
		&.close-btn {
			@include failure();
		}
	}
}

ul {
	list-style: none;
	padding: 0;
}

.user {
	cursor: pointer;
	padding: 10px 20px;

	i {
		width: 30px;
	}

	span {
		font-size: 20pt;
	}

	.online {
		color: $success;
	}
	.offline {
		color: $failure;
	}
}
